*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}


.Background{
  
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(4px);
  position: absolute;
}

@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}



.main{
  height: 100vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

.title{
  height: 80%;
  width: 30%;
  background: rgba(97, 99, 93, 0.329);
  margin: auto;
}

.content{
  background-size: cover;
  background-position: center;
  height: 80%;
  width: 70%;
  margin: auto;
  color: black;
  padding: 10px;
  background: rgba(90, 92, 88, 0.329);
}
.intro{
  font-family: 'Patrick Hand', cursive;
  text-align: left;
  font-size: 20px;
  color: black;
  text-shadow: 1px 1px 10px white;
  height: 100%;
  overflow: auto;
}

.content h1{
  font-family: 'Dancing Script', cursive;
  text-align: center;
  text-shadow: 1px 1px 10px white;
}

.footer{
  position: absolute;
  top: 67%;
  font-size: 14px;
  width: 69%;
}

.book{
  text-align: right;
  font-family: 'Patrick Hand', cursive;
  text-shadow: 2px 2px 10px white;
}

.change{
  opacity: 1;
  background: #212122b6;
  padding: 7px 10px;
  color: #ffffff;
   /* none cho IE hoạt động */
  outline: 0 none;
  border: 0 none; 
  border-radius: 4px;
  transition: all 0.1s;
  font-size: 20px;
  position: fixed;
  top: 35%;
  left: 20%;
}
.change:hover{
  opacity: 0.5;
  -webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
  -moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
  box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
  }

.change:active{
  box-shadow: 0 0 0 transparent;
  transition: none;  
}
.logo{
  border: 1px black solid;
  border-radius: 7px;
  width: 30%;
  font-size: 40px;
  /* transform: rotate(-30deg); */
  font-family: 'Tangerine', cursive;
  font-weight: bold;
  margin: 5%;
}

.nameBook{
  font-family: 'Patrick Hand', cursive;
  font-weight: bold;
  font-size: 25px;
  text-align: center; 
  margin: 10px;
}

.like{
  position:fixed;
  top: 85%;
}

.music{
  width: 20%;
  position: fixed;
  top: 80%;
  left: 12%;
}
audio:hover, audio:focus, audio:active{
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
}

audio{
  width: 90%;
}